.novo-pedido {
  background-color: white;
}
.btn-out {
  width: 130px;
  height: 50px;
  font-size: 22px;
  margin-left: 0px;
}
.divBurger{
  color: white;
}
.nav-menu {
  background-color: #535659;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.nav {
  margin-left: 0px;
  width: 185px;
  height: 50px;
  font-size: 22px;
}
h1 {
  text-align: center;
}
.cardapio {
  display: flex;
  background-color: coral;
  height: 500px;
  width: 60vw;
}
.carrinho{
  background-color: rgb(80, 255, 103);
  height: 500px;
  width: 40vw;
}
main {
  display: flex;
  flex-direction: row;
}
.pedidos{
  background-color: white;
  width: 500px;
  height: 400px;
}
.menu{
  flex-direction: column;
}
.divName {
  color: rgb(255, 255, 255);
}
.topics{
  color: white;
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #747272;
}
.card-pedido {
  background-color: #FF8C00;
  width: 125px;
  height: 135px;
  margin: 5px;
  text-align: center;
}
.img-food{
  width: 50px;
  height: 50px;
  border: 2px solid #ffb800;
  margin-left: 50px;
}
p {
  color: white;
  font-size: larger;
  text-align: center;
  margin-top: 30px;
  margin-left: 30px;
}
.client{
  height: 40px;
  width: 500px;
  background-color: white;
  font-size: 30px;
}
.mesa{
  height: 40px;
  width: 100px;
  margin-top: 10px;
  background-color: white;
  font-size: 30px;
}
.caixa-menu{
  margin-left: 20px;
}
article{
  color: white;
  font-size: 30px;
  flex-wrap: wrap;
}
img.img-burger {
  width: 75px;
  height: 75px;
  margin-left: 30px;
  border: 2px solid #ffb800;
}
.items-section{
  flex-direction: column;
  justify-content: center;
}
.menu-carrinho{
  background-color: rgb(88, 88, 88);
}
.p-btn-items button{
  height: 41px;
  width: 41px;
  margin-left: 5px;
}
.addBtn{
  background-color: #FF8C00;
  width: 500px;
  height: 75px;
  border: none;
  color: #535659;
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  margin-left: 0px;
}
.order{
  margin-left: 183px;
}
section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.titulo {
  padding-top: 5px;
}
.item-price{
  padding-bottom: 5px;
}
.menu-completo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}