.container-cozinha {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(48deg, #348691, #6EDEEA); 
}

.txt-logOut{
  color: #00000063;
  font-family: Bob;
  margin-bottom: -1rem;
  display: flex;
  justify-content: center;
}

.btn-div{
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.logOut-btn{
  padding: 1rem;
  border: none;
  background-color: inherit;
}

.window-img {
  width: 7.5rem;
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  margin: -20px;
}
.order-container{
  background-color: white;
  margin-top: 90px;
  margin-right: 5px;
  padding: 10px;
}
.window-img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.orders-title{
  padding: 1rem;
}
.btn-status {
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  margin: 0.8rem 0 0;
  transition: .2s;
  font-size: 23px;
  width: 10rem;
}
